body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CCD5AE;
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 50%;
    border: 5px solid #E9EDC9
}

.menu-container {
    border: 3px black solid;
    margin-left: 15%;
    margin-right: 15%;
}

.menu-chili-container,
.menu-soup-container,
.menu-stew-container {
    display: flex;
    margin-bottom: 10px;
}

.menu-chili-text {
    margin-top: -15px;
    margin-left: 15px;
}

.soup-mini {
    width: 74%;
    height: auto;
}

.menu-soup-text {
    margin-top: -15px;
    margin-left: -32px;
}

.stew-mini {
    width: 108%;
    height: auto;
}

.menu-stew-text {
    margin-top: -15px;
    margin-left: 25px;
}

.menu-container,
.menu-chili-text,
.menu-stew-text,
.menu-soup-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



table {
    border: 1px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

div.text-box {
    font-weight: lighter;
    background-color: #FEFAE0;
    margin-left: 5%;
    margin-right: 5%;

}

.description,
.ingredients,
.directions {
    background-color: #E9EDC9;

}

h1,
h2 {
    text-align: center;
}

.top,
h1 {
    background-color: #FAEDCD;
    margin-left: 5%;
    margin-right: 5%;
}

.content-list {
    text-align: center;
    list-style-type: none;
    font-size: 18px;

}

button {
    background-color: #FAEDCD;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
